<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<link rel="team" href="style.css"/>
	<title> welcome !! </title>
</head>
<body>
<h2> A listing of the best catchy teamwork slogans known. These taglines aim to foster a collaboration of individuals to work together. </h2>
</body>
</html>

