// Place all the styles related to the Gossips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
color:black;
background-color:white;
background-image:url(50-wallpaper-hd-windows-48.jpg);
background-repeat:no-repeat;
}